<% # requires local variables "year" and "month" %>
<% first_of_month = Date.new(year, month) %>

<table id='calendar'>
    <thead>
        <tr>
            <th colspan="8"><%= month_name(first_of_month) %> <%= year %></th>
        </tr>
        <tr>
            <% days_of_week.each do |day| %>
                <th><%= day %></th>
            <% end %>
            <th>Total</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="8"><%= month_name(first_of_month) %> Total:</td>
        </tr>
    </tfoot>
    <tbody>
        <% each_week(first_of_month) do |first_of_week| %>
            <tr>
                <% each_day(first_of_week) do |day| %>
                    <td class="<%= "other-month" if day.month != first_of_month.month %> <%= "today" if day == Date.today %>">
                        <%= link_to(day.mday, new_workout_path(date: day.to_s)) %>
                    </td>
                <% end %>
                <td>Week:</td>
            </tr>
        <% end %>
    </tbody>

</table>
