<% # requires local variables "year" and "month" %>
<% first_of_month = Date.new(year, month) %>

<table class="month">
    <thead>
        <tr>
            <th colspan="8" class="title"><h2><%= month_name(first_of_month) %> <%= year %></h2></th>
        </tr>
        <tr>
            <% days_of_week.each do |day| %>
                <th><%= day %></th>
            <% end %>
            <th>Total</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="8">
                <%= month_name(first_of_month) %> total:
                <%= sum_workouts(@log.workouts.by_month(month, year), @log.preferred_distance_unit) %>
                <%= @log.preferred_distance_unit.name.pluralize %>
            </td>
        </tr>
    </tfoot>
    <tbody>
        <% each_week(first_of_month) do |first_of_week| %>
            <tr>
                <% each_day(first_of_week) do |day| %>
                    <td class="<%= "other-month" if day.month != first_of_month.month %>">
                        <h3 class="date  <%= "today" if day == Date.today %>"><%= link_to(day.mday, new_workout_path(date: day.to_s)) %></h3>
                        <ul>
                            <% @log.workouts.by_date(day).each do |workout| %>
                                <li><%= link_to(workout.summary, workout) %></li>
                            <% end %>
                        </ul>
                    </td>
                <% end %>
                <td class="weekly-total">
                    Week:
                    <%= sum_workouts(@log.workouts.by_week(first_of_week), @log.preferred_distance_unit) %>
                    <%= @log.preferred_distance_unit.name.pluralize %>
                </td>
            </tr>
        <% end %>
    </tbody>

</table>
