<% if logged_in? %>
    <p>Logged in as: <%= @current_user.name %></p>
    <p><%= link_to("Sign Out", "/logout") %></p>
<% else %>
    <%= render partial: "welcome/login_form" %>
<% end %>

<%= render partial: "get_log" %>

<h1>Log: <%= @log.name %></h1>
<%= render partial: "calendar_controller", locals: {log: @log, year: @year, month: @month} %>
<section id="calendar">
    <% @n_months.times do %>
        <%= render partial: "month", locals: {log: @log, year: @year, month: @month} %>
        <%
            @month += 1
            if @month > 12
                @month = 1
                @year += 1
            end
        %>
    <% end %>
</section>
