<div class="shoe-input">
    <input type="hidden" name="shoes[][id]" value="<%= shoe.id %>">
    <input type="text" id="shoe-<%= shoe.id %>" name="shoes[][name]" value="<%= shoe.name %>">
    <label for="shoe-<%= shoe.id %>"><%= shoe.distance %><%= @log.preferred_distance_unit.abbreviation %></label>
</div>
